In [1]:
import pandas as pd

buildings = pd.read_excel("/Users/bencampbell/code/urbex/data/raw/AbandonedUrbanProperties_(4).xlsx")

In [4]:
buildings

,Date Set,Case No,Location,ParcelID,Eff. Date
0,2013-04-19 14:39:00,0020343,1339 S 32ND ST,048C00710000,2013-08-29
1,2013-03-12 13:12:00,0074699,665 LOUIS COLEMAN JR DR,006H02030000,2011-10-04
2,2013-03-06 13:34:00,0093956,3132 GARLAND AVE,046C00920000,2009-04-13
3,2013-05-13 15:50:00,0097074,1112 LOUIS COLEMAN JR DR,045E00510000,2013-05-13
4,2013-02-07 13:59:00,0099482,1857 W ORMSBY AVE,038L01680000,2007-12-06
...,...,...,...,...,...
1153,2013-05-13 12:55:00,469611,2709 W CHESTNUT ST,001A01200000,2013-05-13
1154,2013-12-30 00:00:00,470238,1120 W HILL ST,042E00180000,2013-05-10
1155,2013-11-14 00:00:00,470955,311 N 44TH ST,009C00510000,2013-05-15
1156,2013-10-22 00:00:00,471100,629 N 28TH ST,005E00720000,2013-06-19
1157,2013-05-22 12:50:00,471785,1512 W MARKET ST,014A00770000,2013-05-22

In [3]:
buildings['Date Set'].describe()

count                             1158
mean     2013-06-25 19:59:16.994818560
min                2013-01-02 08:43:00
25%                2013-03-19 11:51:15
50%                2013-05-10 09:20:00
75%                2013-10-31 00:00:00
max                2013-12-30 00:00:00
Name: Date Set, dtype: object